.button {
  height: 2.875rem;
  padding-inline: 0.875rem;
  border-radius: 0.5rem;

  background-color: #e7a355;
  border: 2px solid #df8014;

  color: #000;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}
