.button {
  height: 2.875rem;
  padding-inline: 0.875rem;
  border-radius: 0.5rem;

  background-color: #6363db;
  border: 2px solid #4f4fb9;

  color: #fff;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}
