.container {
  height: 3.375rem;
  width: 3.375rem;
  border-radius: 0.625rem;
  border: none;

  background-color: #ebebfc;
  color: #6363db;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;
  font-weight: 700;
}
